a:hover {
    text-decoration: none;

}
a{
    color: black;
}
.hiddenForm {
    display: none;
}
/* .frames {
    border: 1px solid lightgrey;
    padding: 20px;
    padding-right: 50px;
    border-radius: 10px;
} */